<%
   issues_measure = measure('issues')

   if issues_measure
%>
  <div class="yui-g">
    <div class="yui-u first">
      <div class="dashbox">
        <p class="title"><%= message ('widget.jira.jira_issues') -%></p>
        <span class="big">
          <p>
            <%= format_measure(issues_measure, {:url => issues_measure.url}) -%>
          </p>
        </span>
      </div>
    </div>
    <div class="yui-u">
      <div class="dashbox">
        <p class="title"><%= message('widget.jira.by_priority') -%></p>
        <table>
          <% 
            issues_measure.text_value.split(";").each do |priority_with_size|
              priority_with_size_array = priority_with_size.split("=")
              priority = message(priority_with_size_array[0].downcase)
              # if no translation can be found, use the provided name
              priority = priority_with_size_array[0] unless priority
          %>
            <tr>
              <td align="left">
                <%= priority -%>
              </td>
              <td align="right" style="padding-left: 10px;">
                <%= priority_with_size_array[1] -%>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>
